<div class="bg-gray-800">
  <footer class="max-w-screen-lg px-6 pt-10 pb-6 mx-auto">
    <div class="text-center">
      <a href="/" class="text-2xl font-bold text-white hover:text-gray-300">photocer.com</a>
      <p class="mx-auto text-gray-500">Join 31,000+ other and never miss out on new tips, tutorials, and more.</p>
    </div>
    <hr class="mt-8 border-gray-500"/>
    <div class="flex flex-col items-center sm:flex-row sm:justify-between">
      <p class="text-sm text-gray-400">© Copyright 2021. All Rights Reserved.</p>
      <div class="flex space-x-3">
        <a href="#" class="text-sm text-gray-400 hover:text-gray-300">Teams</a>
        <a href="#" class="text-sm text-gray-400 hover:text-gray-300">Privacy</a>
        <a href="#" class="text-sm text-gray-400 hover:text-gray-300">Cookies</a>
      </div>
    </div>
  </footer>
</div>