<nav class="max-w-screen-lg px-5 py-4 mx-auto flex items-center flex-row justify-between">
  <div>
    <a class="text-3xl font-bold hover:text-indigo-900 filter drop-shadow-xl" href="/">
      <img src="/assets/img/logo.png" alt="Logo" class="w-12 h-12 align-middle inline">
      <span class="hidden sm:inline font-serif text-gray-700 tracking-wide">PHOTOCER</span>
    </a>
  </div>
  <div class="space-x-3 text-lg font-medium text-gray-700">
    <a class="hover:text-indigo-700 filter drop-shadow-xl" href="/how_to_become_photographer/">Start Here</a>
    <a class="hover:text-indigo-700 filter drop-shadow-xl" href="#">Contact</a>
    <a class="hover:text-indigo-700 filter drop-shadow-xl" href="#">About</a>
  </div>
</nav>
