<meta name="description" content="{{ description }}">

<meta property="og:site_name" content="Photocer">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:url" content="https://photocer.com{{ page.url }}">
<meta property="og:image" content="{{ image }}">
<meta property="og:locale" content="en_US">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@photocer" />
<meta name="twitter:creator" content="@photocer" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{{ image }}" />